body
{
	background-color: rgb(226, 226, 226);
	margin: 0;
}

#bloc_page
{
	width: 100%;
	margin: auto;
	justify-content: center;
	position: relative;
		width: 100%;
		top: 80px;
}

header
{
	background-color: rgb(98, 117, 127);
	z-index: 1;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	background-attachment: fixed;
	position: fixed;
		width: 100%;
		top: 0px;
}

#logo
{
	min-width: auto;
	max-width: 8%;
}

#top_film_illustration
{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 50em;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
	background: url('images/south.jpeg') no-repeat;
	background-size: 100%;

}
#top_film_illustration:hover
{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 310px;
	width: 52em;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
	background: url('images/south.jpeg') no-repeat;
	background-size: 100%;
}


#top_film_selection
{
	background-color: rgb(98, 117, 127);
}

.selection_list
{
	overflow: scroll;
	margin: 0;
}

.bloc_illustration
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 250px;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
	background: url('images/south.jpeg') no-repeat;
	background-size: 150%;
}

.bloc_illustration:hover
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
	width: 260px;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
	background: url('images/south.jpeg') no-repeat;
	background-size: 150%;
}

h1
{
	padding-top: 10px;
	margin-top:  0px;
	margin-bottom: 0px;
	position: relative;
}

.selection
{
	margin: 0px;
	/*overflow: scroll;*/
}

.scrolling_zone
{
	overflow: scroll;
	height: 200px;
	width: 130%;
	display: flex;
	justify-content: space-around;
}

#top_action_film_selection
{
	background-color: rgb(215, 215, 215);
}

footer
{
	height: 50px;
	width: 100%;
	background-color: rgb(98, 117, 127);
}

#footer_message
{
	text-align: center;
	text-decoration: underline;
	padding-top: 15px;
	padding-bottom: 0px;
}

.info_banner
{
	position: absolute;
		bottom: 0;
	height: 33px;
	border-radius: 0px 0px 4px 4px;
	width: 100%;
	background-color: rgba(24,24,24,0.8);
	color: white;
	font-size: 0.8em;
	padding-left: 0.3%;
}
