body
{
	background-color: rgb(226, 226, 226);
	margin: 0;
}

#bloc_page
{
	width: 100%;
	margin: auto;
	justify-content: center
}

header
{
	background-color: rgb(98, 117, 127);
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
}

#logo
{
	min-width: auto;
	max-width: 8%;
}

#top_film_illustration
{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 50em;
	border: 1px solid black;

	border-radius: 0px 0px 5px 5px;
	background: url('images/south.jpeg') no-repeat;
	background-size: 100%;

}

h1
{
	justify-items: left;
}

#top_film_selection
{
	background-color: rgb(98, 117, 127);
	height: 200px;
	width: 100%;
	margin: 0;
}

