body
{
	background-color: rgb(226, 226, 226);
	margin: 0;
}

#bloc_page
{
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
	position: relative;
		top: 80px;
}

header
{
	background-color: rgb(98, 117, 127);
	z-index: 1;
	height: 80px;
	border-bottom: 1px solid black;
	background-attachment: fixed;
	position: fixed;
		width: 90em;
		top: 0px;
}

#logo
{

	max-width: 8%;

}

#top_film_illustration
{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 500px;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;

}
#top_film_illustration:hover
{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 310px;
	width: 510px;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
}


#top_film_selection
{
	background-color: rgb(98, 117, 127);
}

.selection_list
{
	margin: 0;
	display: flex;
	overflow: scroll;
}

.bloc_illustration
{
	flex: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 150px;
	width: 250px;
	border: 1px solid black;
	position: relative;


	border-radius: 5px 5px 5px 5px;
}

.bloc_illustration:hover
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 160px;
	width: 260px;
	border: 1px solid black;
	position: relative;

	border-radius: 5px 5px 5px 5px;
}

h1
{
	padding-top: 10px;
	margin-top:  0px;
	margin-bottom: 0px;
	margin-left: 5px;
	position: relative;
}

.selection
{
	margin: 0px;
	padding-bottom: 5px;
}

#top_action_film_selection
{
	background-color: rgb(215, 215, 215);
}

footer
{
	height: 50px;
	width: 100%;
	background-color: rgb(98, 117, 127);
}

#footer_message
{
	text-align: center;
	text-decoration: underline;
	padding-top: 15px;
	padding-bottom: 0px;
}

.info_banner
{
	position: absolute;
		bottom: 0;
	height: 33px;
	border-radius: 0px 0px 3px 3px;
	width: 100%;
	background-color: rgba(24,24,24,0.7);
	color: white;
	font-size: 0.8em;
	padding-left: 0.3%;
}

img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
